* {
    margin: 25px;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
    display: flex;
    align-self: flex-end;
}

.flex-container {
    display: flex;
}
#bookmark_logo {
    display: flex;
    align-self: flex-start;
}




#bookmark_image {
    float: right;
}

